@import "bootstrap";

body {
  background-color: #F5F5F1;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
    background-color: #EFEFEB;
}


.navbar-default .navbar-brand {
    font-family: guardian-egyptt, georgia, serif;
    font-weight: 400;
    color: #d5641c;
    font-size: 30px;
  }

  .navbar-default .navbar-nav > li > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #0192B5;
  }

  .center {
    text-align: center;
  }